body {
    background-color: rgb(173, 173, 160);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
p {
    background-color: rgb(219, 11, 219);
    font-size: 30px;
    text-shadow: 2px 1px black;

}

/* box-shadow: 3px 3px 3px #48789f; Sombreamento */
/* font-weight: 700; Negrito */