
*html {
    font-size: 100px;
}

.pai {
    font-size: 20px;
    background-color: aquamarine;

}

/* em multiplica */

/* p{ */
    /* font-size: 2rem; */
    /* background-color: rgb(179, 29, 29); */
/* } */

img {
width: 700px;
height: 500px;
}

 #primeiraft{
    float: left;
}

#segundaft{
    
    float: right;
}

#para2{
    clear: none;
}


/*
.para{
    float: left;

} */
